In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is D88D-1616

 Directory of c:\Users\lenovo\Desktop\CONVO\Pandas\CONVO_Pandas

24/06/2025  03:54 pm    <DIR>          .
24/06/2025  03:54 pm    <DIR>          ..
24/06/2025  03:44 pm                64 .gitignore
07/08/2024  09:43 am         1,497,191 2024 Developer Survey.pdf
24/06/2025  03:51 pm           534,382 Pandas.ipynb
24/06/2025  03:54 pm    <DIR>          pandas-master
24/06/2025  03:54 pm                 0 pokemon.ipynb
19/04/2019  06:38 am            40,832 pokemon_data.csv
23/06/2025  01:38 pm        17,703,733 stack-overflow-developer-survey-2024.zip
08/08/2024  08:50 am       159,525,875 survey_results_public.csv
08/08/2024  08:50 am            12,503 survey_results_schema.csv
               8 File(s)    179,314,580 bytes
               3 Dir(s)  22,662,443,008 bytes free

In [3]:
import pandas as pd
import numpy as np

In [8]:
poke = pd.read_csv('pokemon_data.csv')

In [9]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
df = pd.DataFrame(poke)

In [11]:
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
# getting all names which have Grass Type
filt = (df['Type 1'] == 'Grass')
df.loc[filt]['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
48                    Oddish
               ...
718                  Chespin
719                Quilladin
720               Chesnaught
740                   Skiddo
741                   Gogoat
Name: Name, Length: 70, dtype: object

In [25]:
typ1 = df.groupby(['Type 1'])

In [32]:
typ1.get_group('Grass')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

Grouping by the 2 types and then getting specific combined types and applying a filter of being 1st gen

In [34]:
typ = df.groupby(['Type 1' , 'Type 2'])

In [59]:
grass_poison = typ.get_group(('Grass' , 'Poison'))

In [60]:
filt = (df['Generation'] <=1 )

In [63]:
grass_poison.loc[filt]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False

In [79]:
filt = df['Legendary'] == True
filt1 = df['Generation'] <= 1
df.loc[filt][filt1]

C:\Users\lenovo\AppData\Local\Temp\ipykernel_19920\3617271282.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.loc[filt][filt1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True